* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: radial-gradient(rgb(0, 0, 45),rgb(0, 0, 15));
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
}

.nav-links ul {
    display: flex;
    gap: 2rem;
}

.nav-links ul li {
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
    padding-bottom: 4px;
}

.nav-links ul li a:hover, .nav-links ul li a:focus {
    color: cyan;
    border-bottom: 1px solid cyan;
}

.logo-box h1 {
    color: white;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.hero-txt {
    text-align: center;
    color: white;
}

.hero-txt h1 {
    font-size: 5rem;
}

.hero-txt p {
    color: #888888;
}

.hero-btn-box {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

.hero-btn-box a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 1rem 3rem;
    border: 2px solid cyan;
    border-radius: 30px;
    transition: 0.3s;
}

.hero-btn-box a:hover {
    background-color: cyan;
    color: black;
}